html {
	background-color: #181818;
	color: #ddd;
}
a, a:hover, a:visited, a:focus 
{
	color: #fff;
}
/* for large screens, center the text */
@media screen and (min-width: 60em) {
	body {
		margin-left: calc(50% - 30em);
		margin-right: calc(50% - 30em);
		max-width: 60em;
	}
}
